@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://www.w3schools.com/lib/w3-theme-black.css');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
* {border: 0px Solid red}

body {
  height: 120vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(circle,grey,#000066 90%);
}

.calc-container {
  display: 1;
  flex-direction: column;
  height: 600px;
  width: 400px;
  background-color: #404040;
  border-radius: 20px;
  border-style: outset;
  border-color: #a19999;
  border-width: 3px;
}

.calc-header {
  font-family: "Kode Mono", monospace;
  font-weight: bold;
  color: rgb(48, 189, 189);
  background-color:#333333 ;
  flex-direction: row;
  font-size: 18px;
  font-style: oblique;
  padding-left: 27px;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
}

.divider {
  display: 1;
  height: 1px;
  background-color: red;
}

.display-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  height: 70px;
  width: 350px;
  background-color: #739900;
  box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-style:inset;
  border-color: #719602;
  border-width: 3px;
}

.button-interface {
  display: flex;
  flex: 1;
}

